{% extends 'base.html' %}

{% block title %}Todo List{% endblock title %}

{% block content %}

<header>
    <nav>
        <a href="{% url 'home_page' %}">Main Page</a>
    </nav>
</header>

<main>
    <div>
        <h1>{{todo_list.name}}</h1>
        <p><a href="{% url 'edit_todo' todo_list.id %}">Edit</a></p>

        <p><a href="{% url 'delete_todo' todo_list.id %}">Delete</a></p>
        <h2>Tasks</h2>

        <table>
            <thead>
                <th>Task</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for item in todo_list.items.all %}
                <tr>
                    <td><a href="{% url 'edit_item' item.id %}">{{item.task}}</a></td>
                    <td>{{item.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
