{% extends 'base.html' %}

{% block title %}Todo List{% endblock title %}

{% block content %}

<header>
    <nav>
        <a href="{% url 'home_page' %}">Main Page</a>
    </nav>
</header>

<main>
    <div>
        <h1>Update List</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>

{% endblock content %}
