{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock title %}

{% block content %}

<header>
    <nav>

    </nav>
</header>

<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'create_todo' %}">Create a new list</a></p>
        <p><a href="{% url 'create_item' %}">Create a new item</a></p>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Items</th>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                <tr>
                    <td><a href="{% url 'todo_items' todo.id %}">{{todo.name}}</a></td>
                    <td>{{todo.items.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
