{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">

</head>

<body>
    {% block content %}
    {% endblock content %}
    <footer>

    </footer>
</body>

</html>
